.inventory-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.inventory-table th,
.inventory-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
}

.inventory-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.inventory-table tbody tr:hover {
  background-color: #f9f9f9;
}

.inventory-table button {
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
}

.inventory-table button.edit {
  background-color: #17a2b8;
}

.inventory-table button.delete {
  background-color: #dc3545;
}



/* InventoryList.css */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
  width: 300px;
}

.popup h2 {
  margin-top: 0;
}

.popup input {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
}

.popup button {
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
  outline: none;
  border: none;
}

.popup button:first-child {
  background-color: #007bff;
  color: #fff;
}

.popup button:last-child {
  background-color: #dc3545;
  color: #fff;
}

.inven{
  width: 100%;
}



/* CSS for the "Update Inventory" button */
.update-inventory {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 20px;
  border-radius: 2px;
}

.update-inventory:hover {
  background-color: #1e7e34;
}

.update-inventory:focus {
  outline: none;
}
